*
{
    margin: 0;
    padding: 0;
}

html, body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.game-cards {
    display: flex;
    justify-content: center;
}

.game-card {
    max-width: 25%;
    padding: 5px;
    text-align: center;
}

.playbutton {
    transition: opacity 0.2s;
}

.playbutton:hover {
    opacity: 0;
}

.playbutton::after {
    src: url("/static/textures/playbutton_hover.png")
}

@media (max-width: 800px) {
  .game-cards {
    flex-direction: column;
  }
  .game-card {
    max-width: 100%;
    text-align: center;
  }
}

.economist {
    max-width: 100%;
}

h2, h3, a, p {
    color: aqua;
}

#setters {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  box-sizing: border-box;
}

#setters input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
}

#setters button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}
