globe attribution: must appear
<a href="https://www.vecteezy.com/free-png/globe">Globe PNGs by Vecteezy</a>

attribution for the nebulae HDR MAP https://www.spacespheremaps.com/blue-nebulae-spheremaps/