<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheGame</title>
    <link rel="stylesheet" href="/static/style.css">
    <script type="importmap">
        {
            "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@latest/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@latest/examples/jsm/"
            }
        }
    </script>
    <script src=" https://cdn.jsdelivr.net/npm/lil-gui@0.19/dist/lil-gui.umd.min.js "></script>
    <link href=" https://cdn.jsdelivr.net/npm/lil-gui@0.19/dist/lil-gui.min.css " rel="stylesheet">
</head>
<body>
    {% for scenario in scenarios %}
        <div class="scenario" id="{{ scenario.id }}">
            <h2>{{ scenario.name }}</h2>
            <p>{{ scenario.description }}</p>
            <button onclick="setters.show({{ scenario.id }})">Set</button>
        </div>
    {% endfor %}
    <div id="setters">
        <input type="text" id="interest-rate">
        <input type="text" id="govt-spending">
        <input type="text" id="tax-rate">
        <input type="text" id="money-supply">
        <input type="text" id="food-import">
        <button id="cancel-button" onclick="setters.hide()">Cancel</button>
        <button id="send-button" onclick="setters.sendSetters()">Send</button>
    </div>

    <canvas class="webgl" id="webgl-canvas"></canvas>
    <script type="module" src="/static/script.js"></script>
</body>
</html>