<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheGame</title>
    <link rel="stylesheet" href="/static/new_style.css">
    <script type="importmap">
        {
            "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@latest/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@latest/examples/jsm/"
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/lil-gui@0.19/dist/lil-gui.umd.min.js "></script>
    <link href="https://cdn.jsdelivr.net/npm/lil-gui@0.19/dist/lil-gui.min.css " rel="stylesheet">
</head>
<body>
    <canvas class="webgl" id="webgl-canvas"></canvas>
    <div class="setters">
    {% include 'setters.jinja2'%} 
    </div>
    <div class="loading-overlay"></div>
    <div class="loading-bar"></div>
    <div class="end-overlay">
        <div class="win" id="win">
            <h1>You Win!</h1>
            <img src="{{ scenario.win_image_url }}">
            <p>Congratulations!</p>
            <a href="/">Play Again</a>
        </div>
        <div class="lose" id="lose">
            <h1>You Lose!</h1>
            <img src="{{ scenario.lose_image_url }}">
            <p>Game over.</p>
            <a href="/">Play Again</a>
        </div>
    <script type="module" src="/static/new_script.js"></script>
</body>
</html>