<form id="setters-form">
    <div class="form-row">
        <label for="interestRate">Interest Rate:</label>
        <input id="interestRate" name="interestRate" inputmode="numeric" pattern="[0-9.]*" required>
    </div>
    <div class="form-row">
        <label for="governmentSpending">Government Spending:</label>
        <input id="governmentSpendin" name="governmentSpending" inputmode="numeric" pattern="[0-9.]*" required>
    </div>
    <div class="form-row">
        <label for="openMarketOperations">Open Market Operations:</label>
        <input id="openMarketOperations" name="openMarketOperations" inputmode="numeric" pattern="[0-9.]*" required>
    </div>
    <div class="form-row">
        <label for="individualIncomeTaxRate">Individual Income Tax Rate:</label>
        <input name="individualIncomeTaxRate" inputmode="numeric" pattern="[0-9.]*" required>
    </div>
    <div class="form-row">
        <label for="corporateIncomeTaxRate">Corporate Income Tax Rate:</label>
        <input id="corporateIncomeTaxRate" name="corporateIncomeTaxRate" inputmode="numeric" pattern="[0-9.]*" required>
    </div>
    <button type="submit" >Send</button>
</form>